body{
    background-image: url("/img/bi.jpeg");
    background-repeat:no-repeat;
    background-attachment:fixed;
    /* background-size: cover; */
    background-size: 100% 100%;
    font-family: Arial;
}

.list-group-item.list-group-item-action.active{
    background-color: rgb(24, 204, 168);
    border: solid 1px black;
    /* color: #FFC107;
    text-shadow: black 1px solid; */
}

#navbaratas{
    width: 100%;
    background-color: rgb(23,165,137);
    font-family:Arial, Helvetica, sans-serif;
}

#isiindex{
    width: 100px;
}

#navigasi{
    margin-top: 10px;
}

#beranda{
    background-color: rgba(0, 0, 0, 0.671);
    color: rgb(253, 253, 253);
}

#bacabacaan{
    padding: 20px;
    background-color: antiquewhite;
}

/* Respondsive ===================================================================================== */

@media (max-width: 766px) {
   
}

@media (min-width: 766px) {
    
}

@media (min-width: 1045px) {
    
}


/* Akhir Respondsive ================================================================================= */