body{
    background-image: url("/img/bi.jpeg");
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size: cover;
    font-family: Arial;
}

.list-group-item.list-group-item-action.active{
    background-color: rgb(24, 204, 168);
    border: solid 1px black;
    /* color: #FFC107;
    text-shadow: black 1px solid; */
}

#navbaratas{
    width: 100%;
    background-color: rgb(23,165,137);
    font-family:Arial, Helvetica, sans-serif;
}

#navigasi{
    margin-left: 10px;
    margin-top: 10px;
}

#isiindex{
    margin-left: -20px;
}

#beranda{
    background-color: rgba(0, 0, 0, 0.671);
    color: rgb(253, 253, 253);
}

#bacabacaan{
    padding: 20px;
    background-color: antiquewhite;
}