
body{
    background-image: url("/img/bi.jpeg");
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size: cover;
    font-family: Arial;
}

#containerUtama{
    margin-top: 5px;
    /* left: 50%; */
}

/* Header ====================================================================================== */

#tanggalheader{
    font-family: Arial;
    display: inline-block;
    margin-left: -6px;
    font-size: 12px; 
    margin-top: 7px;
    color: rgb(23,165,137);
    letter-spacing: -0.5px;
    width: 80px;
    height: 18px;
    border: solid 0px;
    border-right: 1px solid #ECECEC;
}

#divtanggalheader{
    margin-top: -1px;
}

#divsearchtextinput{
margin-top: -3px;
}

#searchForm{
    margin-top: 1px;
    float:right;
}

#searchtextinput{
    border-left: 1px solid #ECECEC;
    border-top: 0px;
    border-bottom: 0px;
    border-right: 0px;
    height: 29px;
    width: 120px;
    margin-top: 1px;
    margin-right: -3px;
    font-size: 12px;
    text-indent: 10px;
}

#submitSearch{
    border-top: 0px solid rgb(23,165,137);
    border-bottom: 0px;
    border-right: 0px;
    border-left: 0px;
    width:25px;
    height: 32px;
    margin-right: -15px;
    background-color: rgb(23,165,137);
}

.bannertop{
    height: 130px;
    background-position: center;
    overflow:auto;
    background-size: cover;
}

.bannertop img{
    height: 100%;
    width: 100%;
}

#headerlayer1{
    border-top: 3px solid rgb(23,165,137);
    height: 33px;
}

#headerlayer3{
    border-bottom: 5px solid rgb(23,165,137);
    height: 53px;
    font-size: 12px;
    letter-spacing: 0.5px;
    background-color: #2e2e2ef6;
}


/* nav atas */
.nav-item  {
    /* height: 36px; */
    line-height: 27px;
    padding-left: 5px;
    text-align: center;
    /* background-color: #2e2e2ef6; */
}

#ygborder{
    border-left: solid 0.1px rgb(29, 29, 29);
    /* height: 42px; */
}
/* akhir nav atas */

#navbaratas{
    width: 100%;
    height: 49px;
    z-index: 10000;
}


#navbaratasCollapse{
    height: 25px;
    z-index: 10000;
}

.dropdown-item{
    font-size: 10px;
    color:white;
    border-top: 0.1px solid rgba(0, 0, 0, 0.192);
}

.dropdown-menu{
    border-top: 1px solid rgb(23,165,137);
    background-color: #2e2e2ef6;
}

#navbarNavDropdown{
    border-top: 0.1px solid rgba(0, 0, 0, 0.192);
    text-align: left;
    background-color: #2e2e2ef6;
}

/* HeadLine News */
.wadah-mengetik
{
	font-size: 22px;
	width: 740px;
	white-space:nowrap;
	overflow:hidden;
	-webkit-animation: ketik 1s steps(100, end);
	animation: ketik 1s steps(100, end);
}

@keyframes ketik{
		from { width: 0; }
}

@-webkit-keyframes ketik{
		from { width: 0; }
}

#miniheader1{
    background-color: rgb(23,165,137);
    width: 110px;
    height: 29px;
}

#miniheader2{
    height: 29px; 
    width: 935px;
}

#hntext{
    font-family: "BebasNeueRegular";
    color: aliceblue;
    font-size: 19px;
    text-transform: uppercase;
    text-indent: 6px;
	line-height: 23px;
	/* letter-spacing: -0.5px; */
    font-weight: bold;
}

#isihntext{
    font-size: 13px;
    line-height: 22px;
    text-indent: 5px;
}
/* Akhir HeadLine News */

/* Akhir Header ================================================================================= */

/* Utama ========================================================================================== */

/* content */
#contentkiri{
    margin-top: 6px;
    margin-left: -5px;
    box-shadow: 0 0 5px #cacaca;
    height: auto;
    border-bottom: 5px solid rgb(23,165,137);
}

@font-face {
    font-family: BebasNeueRegular;
    src: url('/fonts/BebasNeueRegular.otf');
}

#judulBerita{
    font-family: "BebasNeueRegular";
    font-weight: bold;
    font-size: 28px;
}



#contentkanan{
    margin-top: 6px;
    margin-right: -3px;
    box-shadow: 0 0 5px #cacaca;
    border-bottom: 5px solid rgb(23,165,137);
    height:fit-content;
}

#judulkonten{
    font-size: 20px; 
    font-weight: bold;
    margin-bottom: 3px;
    font-family: "BebasNeueRegular";
}

#lokasipatern{
    margin-bottom: -10px;
    width: 100%;
}

.patern{
    line-height: 30px;
    width: 100%;
    height: 22px;
    margin-bottom: 3px;
    margin-left: 0px;
    background-color: #ffffff;
    opacity: 0.2;
    background: repeating-linear-gradient( 45deg, #000000, #000000 2px, #ffffff 2px, #ffffff 10px );
}

/* .paternkegiatan{
    line-height: 30px;
    width: 80%;
    height: 22px;
    margin-left: 45px;
    margin-bottom: 3px;
    background-color: #ffffff;
    opacity: 0.2;
    background: repeating-linear-gradient( 45deg, #000000, #000000 2px, #ffffff 2px, #ffffff 10px );
} */


#myTab{
    padding-top: 10px;
    padding-left: 10px;
    background-color: #F7F7F7;
}

#headtab{
    width: 45px;
    height: 34px;
    font-size: 13px;
    font-family: Arial;
}
#btntag{
    outline: rgb(68, 68, 68) dashed 0px;
    text-shadow: rgb(255, 255, 255) 0px 1px 0px;
    box-shadow: rgb(255, 255, 255) 0px 0px 2px 0px inset, rgba(0, 0, 0, 0.1) 0px 0px 2px 0px;
    font-size: 11px;
    padding: 2px;
    border: 1px solid  #E9E9E9;
    color:  #444444;
}

#judultab{
    text-indent: -9px;
}

.tabtab#contentkanan{
    height:fit-content;
    padding: 10px;
}

#gambartabbaru{
    width: 100%;
    padding: 2px 2px 2px 2px;
    box-shadow: rgb(181, 181, 181) 0px 0px 2px 0px;
}

#iconsm{
    width: 17px;
    margin: 10px;
}

#gambarkanan{
    height: fit-content;
    width: 100%;
    height: 500px;
    background-position: center;
    overflow:auto;
    background-size: cover;
}

/* Slide View Jumbotron =================== */
        
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 99999999999; /* Sit on top */
  padding-top: 170px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  /* height: 100%; Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 30%;
  max-width: 400px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 400px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 150px;
  right: 32%;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 50%;
  }
  .close{
    right: 20%;
  }
}


/* Akhir Slide View Jumbotron ============= */

/* akhir content */

/* Akhir Utama ============================================================================================ */

/* Footer ============================================================================================== */

#footer1{
    height:fit-content;
    border-top: 4px solid rgb(23,165,137);
    background-color: #333333;
}

#judulfooter{
    font-family: "BebasNeueRegular";
    font-size: 22px;
    color: white;
    font-weight: bold;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

#btntagbawah{
    font-size: 11px;
    padding: 5px;
    border: 2px solid rgb(23,165,137);
    background-color: #333333;
    color: white;
}

.isikontenfooter{
    padding: 10px;
}

#tautanfooter{
    font-size: 13px;
    margin-bottom: 10px;
    text-decoration-line: none;
}

#aks{
    font-size: 13px;
    line-height: 16px;
}

#footer2{
    height: 54px;
    border-top: 0.5px solid #444444;
    background-color: #2E2E2E;
}

/* Akhir Footer ====================================================================================== */

/* Respondsive ===================================================================================== */

@media (max-width: 766px) {
    #containerUtama{
        width:473px;
    }
    #miniheader2{ 
        width: 363px;
    }
}

@media (min-width: 766px) {
    #containerUtama{
        width:766px;
    }
    #miniheader2{ 
        width: 655px;
    }
    #gambarkanan{
        height: 250px;
    }
}

@media (min-width: 1045px) {
    #containerUtama{
        width:1045px;
    }
    #miniheader2{ 
        width: 935px;
    }
    #gambarkanan{
        height: 400px;
    }   
}


/* Akhir Respondsive ================================================================================= */